// Color Palette
$color-background: #FFFFFF;
$color-light-square: #F0F0F0;
$color-dark-square: #333333;
$color-buttons: #4CAF50;
$color-title: #333333;

$startCellBackgroundColor:#FFD700 ;
$startCellTextColor: #FFFFFF;
$endCellBackgroundColor: #F7AAB9;
$endCellTextColor: #000000;
$pathCellBackgroundColor: #C3E6CB;
$pathCellTextColor: #000000;
