@import './toolbar';

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5rem;
  }

  
  .board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,  1fr);
    border: 2px solid #000;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: relative;
    font-size: 2rem;
    font-weight: 700;
    &:hover{
        transition: opacity 0.3s ease;
        opacity: 0.4;    
    }
    .fa-chess-knight{
      position: absolute;
      font-size: 50px;
      top: 1.5%;
      left: 1.8%;
      transition: top 0.5s, left 0.5s; 
      z-index: 1;
    }
  }
  
.startCell{
    background-color: green;
}
.endCell{
    background-color: crimson;
}
  .light {
    background-color: #f0d9b5;
  }
  
  .dark {
    background-color: #b58863;
  }
  .pathCell{
    background-color: yellow;
  }

 